export(fastpvclust)
export(pvpick)
export(msfit)
export(msplot)
export(pvrect)
export(seplot)
export(parPvclust)

S3method(plot,     fastpvclust)
S3method(lines,    fastpvclust)
S3method(text,     fastpvclust)
S3method(print,    fastpvclust)
S3method(summary,  fastpvclust)

S3method(plot,     msfit)
S3method(lines,    msfit)
S3method(summary,  msfit)

importFrom("grDevices", "n2mfrow")
importFrom("graphics", "curve", "lines", "par", "plot", "rect",
           "segments", "text")
importFrom("stats", "as.dist", "cor", "dist", "dnorm",
           "lsfit", "na.omit", "pchisq", "pnorm", "qnorm", "rmultinom")
importFrom("fastcluster", "hclust")           
importFrom("utils", "capture.output", "head", "packageVersion")
